@import url("https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&display=swap");

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__select {
  width: 10%;
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: 120px;
}

.filter__term {
  font-family: "Pacifico", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 200%;
}
