//styles for every component necessary for that project, including buttons, modals, etc.

.logo-container {
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 200px; /* width of container */
  height: 70px; /* height of container */
  object-fit: cover;
}
