@import "../base.scss";

.header {
  width: 100%;
  background-color: $Color-Theme-9-2-hex;

  .header__logo {
    display: flex;
    justify-content: flex-start;
  }

  .header__image {
    width: 200px; /* width of container */
    height: 70px; /* height of container */
    object-fit: cover;
  }
}
