@import url("https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&display=swap");

.ready {
  height: 100vh;
  font-family: "Lato", "Courier New", Courier, monospace;
  font-size: 2rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}
