@import "../base.scss";

.search {
  .search__form {
    display: flex;
    justify-content: flex-start;
  }

  .search__input {
    width: 48vw;
    min-width: 100px;
    padding: 0.2rem;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 0;
    border-color: $Color-Theme-9-1-hex;
    background-color: $Color-Theme-9-1-hex;
    border-width: medium;
    padding: 0.4rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    cursor: pointer;
    &:focus-visible {
      outline: none;
    }
  }

  .search__button {
    min-width: 70px;
    width: 2vw;
    width: 5%;
    padding: 0.2rem;
    margin: 0.2rem;
    margin-right: 0;
    padding: 0.4rem;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: $Color-Theme-9-3-hex;
    background-color: $Color-Theme-9-3-hex;
    border-style: solid;
    cursor: pointer;
    color: $Color-Theme-9-1-hex;
    &:focus-visible {
      outline: none;
    }
    &:hover {
      border-color: $Color-Theme-9-4-hex;
      background-color: $Color-Theme-9-4-hex;
    }
  }
}
