// contains variables, resets, mixins, and other similar styles
$Color-Theme-9-1-hex: #f2f2f2;
$Color-Theme-9-2-hex: #475459;
$Color-Theme-9-3-hex: #0a2326;
$Color-Theme-9-4-hex: #83a64e;
$Color-Theme-9-5-hex: #e0b692;
