// there are the styles for the header, footer, the grid system, etc

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway&display=swap");

body {
  background-color: #f2f2f2;
  font-family: "Raleway", sans-serif;
}

.box {
  color: #0a2326;
  font-size: 150%;
  padding: 10px;
}
.header {
  grid-area: header;
  background-color: #475459;
}
.search {
  grid-area: search;
  background-color: #f2f2f2;
  color: #0a2326;
}
.section {
  grid-area: section;
  &.box {
    padding-left: 0;
  }
}
.sidebar {
  grid-area: sidebar;
  background-color: #f2f2f2;
}
.content {
  grid-area: content;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  &.box {
    padding-left: 0;
  }
}
.pagination {
  grid-area: pagination;
}
.footer {
  grid-area: footer;
  width: 100%;
  text-align: center;
  background-color: #475459;
}
.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "header"
    "search"
    "section"
    "pagination"
    "footer";
}

@media only screen and (min-width: 500px) {
  .wrapper {
    grid-template-columns: 20% auto;
    grid-template-areas:
      "header header"
      "search search"
      "section section"
      "pagination pagination"
      "footer footer";
  }
}
@media only screen and (min-width: 600px) {
  .wrapper {
    grid-gap: 20px;
    grid-template-columns: 600px auto 600px;
    grid-template-areas:
      "header  header  header"
      "search search  search"
      "section section section"
      "... pagination ..."
      "footer  footer  footer";
    max-width: 100%;
  }
}
.wrapper2 {
  display: grid;
  border-color: none;
  grid-gap: 1em;
  grid-template-areas:
    "sidebar"
    "content";
}

@media only screen and (min-width: 500px) {
  .wrapper2 {
    grid-template-columns: 20% auto;
    grid-template-areas:
      "sidebar sidebar"
      "content content";
  }
}
@media only screen and (min-width: 600px) {
  .wrapper2 {
    grid-gap: 20px;
    grid-template-columns: 600px auto 600px;
    grid-template-areas:
      "sidebar sidebar sidebar"
      "content content content";
    max-width: 100%;
  }
}

/* Color Theme Swatches in Hex */
.empty-floor-with-modern-cityscape-in-new-york-1-hex {
  color: #475459;
}
.empty-floor-with-modern-cityscape-in-new-york-2-hex {
  color: #93b7bf;
}
.empty-floor-with-modern-cityscape-in-new-york-3-hex {
  color: #f2f2f2;
}
.empty-floor-with-modern-cityscape-in-new-york-4-hex {
  color: #d9d9d9;
}
.empty-floor-with-modern-cityscape-in-new-york-5-hex {
  color: #0d0d0d;
}

/* Color Theme Swatches in Hex */
$Tema-de-cores-9-1-hex: #f2f2f2;
$Tema-de-cores-9-2-hex: #475459;
$Tema-de-cores-9-3-hex: #0a2326;
$Tema-de-cores-9-4-hex: #83a64e;
$Tema-de-cores-9-5-hex: #e0b692;
