// there are the styles for the header, footer, the grid system, etc

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway&display=swap");

body {
  background-color: #f2f2f2;
  font-family: "Raleway", sans-serif;
}

.l-grid--box {
  font-size: 150%;
  padding: 10px;
}

.l-grid__header {
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0;
  grid-area: header;
  display: flex;
  background-color: #475459;
  justify-content: center;
  align-items: center;
}

.l-grid__tool-bar {
  grid-area: toolbar;
}

.l-content__result {
  grid-area: result;
  &.box {
    padding-left: 0;
  }
}

.l-grid__pagination {
  grid-area: pagination;
  display: grid;
  justify-content: center;
}

.l-grid__footer {
  grid-area: footer;
  width: 100%;
  text-align: center;
  background-color: #475459;
}

.l-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "header"
    "toolbar"
    "result"
    "pagination"
    "footer";
}

@media only screen and (min-width: 500px) {
  .l-grid {
    grid-template-columns: 20% auto;
    grid-template-areas:
      "header header"
      "toolbar toolbar"
      "result result"
      "pagination pagination"
      "footer footer";
  }
}

@media only screen and (min-width: 1800px) {
  .l-grid {
    grid-gap: 20px;
    grid-template-columns: 20% auto 20%;
    grid-template-areas:
      "header header header"
      "... toolbar ..."
      "... result ..."
      "... pagination ..."
      "footer  footer  footer";
    max-width: 100%;
  }
}

.l-grid-photos {
  line-height: 10px;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  column-gap: 10px;
}

@media (max-width: 800px) {
  .l-grid-photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .l-grid-photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
